# C# / .NET
bin/
obj/
*.user
*.userprefs
*.pidb
*.suo
*.cache
.vs/

# NuGet
*.nupkg
*.snupkg
.nuget/

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/
*.lnk
*.stackdump
